

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
    margin-top: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif; 
    background-color: rgb(244, 244, 244); 
}
/* Header-section */
.header-section{
    background-image: url("../Assets/Hero-bg.png");
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;


}
nav ul{
    display: flex;
    align-items: center;
    
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}
.dark2{
    color: black;
}
nav ul li {
    list-style: none;
    margin-right: 50px;

}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    border: none;

}
/* Banner section */
.banner{
    text-align: center;
    padding: 100px 0px;
    position: relative;
    overflow: hidden;
}
.banner-title{
    font-size: 4em; 
    margin-bottom: 30px;
    color:#252432;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* Action Secgtion */
.action-section{
    padding: 109px 150px 109px 150px;
}

.action-section .container{
    display: flex;
    align-items: center;
    gap: 220px;
}
.action-section .content-left{
    flex: 1;
}
.action-section .content-left h2{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-section .content-left p{
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #252432;
}
.action-section .content-right{
    flex: 1;
    text-align: center;   
}
.action-section .content-right img{
    max-width: 100%;
    height: auto;
    border-radius: 48px;
    
}
/* Productive Users Section */
.productive-users-section {
   background-color: rgba(51, 45, 236, 0.1);
   text-align: center;
   margin: 50px 150px;
   padding: 100px;
   border-radius: 24px;
   border-color: none;
   
    
}
.productive-users-section .container{
    display: flex;
    justify-content: space-evenly;
    
}
.productive-users-section .state-section h3{
    font-size: 38px;
    font-weight: bold;
    color: black;
}
.stat-item .number{
    font-size: 88px;
    font-weight: 600;
    color: #4E47FF;
    display: block;

}
.stat-itme .raw{
    font-size: 1.1em;
    color: #ccc;
}
/* card section */
.section-title{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}
.reviews-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.review-title {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}
.reviews-section{
    margin: 50px 150px;
    
}
.review-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-text{
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}
.reviewer-info{
    display: flex;
    align-items: center;
    margin-top: auto;
}
.reviewer-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.reviewer-name{
    font-size: 1em;
    color: #333;
    font-weight: 600;
    margin: 0;
}
.review-date {
    font-size: 0.9em;
    color: #777;
    margin: 0;
}